
body{
    padding: 0px;
    margin: 0px;
}

/**/

header{
    width: 100%;
    height: 100vh;
    background-color: red;

    background-image: url("../images/thumbnail4.png");
    background-size: cover;
    background-position: center;
}

#main-top-bar{
    width: 100%;
    height: 100px;
    padding: 10px 0px;

    background-color: rgba(54,69,79, .8);
    display: flex;
    align-items: center;
}
    







.top-bar__properties{height: 100%;}
/*----------------------------------------*/
/*------------------LEFT------------------*/
/*----------------------------------------*/
#top-bar__left{
    width: 400px;
    display: flex;
    align-items: center;
    
}




/*----------------------------------------*/
/*-----------------CENTER-----------------*/
/*----------------------------------------*/
#top-bar__center{

    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 60px;
}

.top-bar__links{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

#top-bar__center a:hover{
    text-decoration: underline;
    color: rgb(223, 223, 223);
}

/*----------------------------------------*/
/*-----------------RIGHT------------------*/
/*----------------------------------------*/
#top-bar__right{

    width: 250px;
    display: flex;
    justify-content: space-around;
}





.top-bar__icons{
    height: 100%;
    /*float: right;*/
    /*padding: 0px 20px;*/
}




/*#DanieL_Logo_Main {
    height: 70px;
    padding: 0px 20px;
}*/

#Logo-DanieL{
    max-height: 100%;
    height: auto;
    max-width: 100%;
    width: auto;
    display: block;
    object-fit: contain;
    float: left;
}

.icon-top-bar{
    height: 10px;
    padding: 0px 20px;
}





.hamburger{
    display: none;
    background-color: transparent;
    border: none;
    font-size: 32px;
    color: white;
    cursor: pointer;
}

.mobile-menu{
    
    height: 2000px;
    display: none;
    background-color: rgba(54,69,79, .8);
    top: 320px;
    right: -100%;
    transition: right 1s;
}
    

.mobile-menu.open{
    height: 2000px;
    display: flex;
    background-color: rgba(54,69,79, .8);
    top: 320px;
    right: 0%;
}




@media (max-width: 1080px){
    header{background-image: url("../images/thumbnail3.png")}

    #main-top-bar{
        height: 300px;
    }

    #top-bar__left{
        width: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #Logo-DanieL{
        height: 150px;
        max-width: 100%;
        width: auto;
    }




    #top-bar__right, #top-bar__center{
        display: none;
    }

    
    .hamburger{
        display: block;
        height: 300px;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #hamburger__button{
        color: white;
        background-color: transparent;
        border: none;
        font-size: 150px;
    }

    .mobile-menu {
        display: flex;
        position: absolute;
        width: 30%;

        
        flex-direction: column;
        align-items: center;
        gap: 20px;

        padding: 30px 0;
    }

    .mobile-menu a{
        color: white;
        font-size: 50px;
        text-decoration: none;
    }
}
